.left-sider-top {
    height:60px;
    background-color: #20a0ff;
    line-height: 60px;
    border-right: solid 1px #e6e6e6;
}

.left-sider-content{
    background-color: #ecf1f5;
    text-align: left;
}

.el-menu{
    background-color: #E9EEF3;
}

.el-menu-item {
    background-color: #e2e8f2
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}
