.left-sider-top {
    height:60px;
    background-color: #20a0ff;
    line-height: 60px;
    border-right: solid 1px #e6e6e6;
}

.left-sider-content{
    background-color: #ecf1f5;
    text-align: left;
}
