.el-header{
    background-color: #20a0ff;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  
  .el-aside {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    
  }
  
  .el-main {
    background-color: #FFFFFF;
    color: #333;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }

