/*Initialization start*/
html, body {
    font-family: Microsoft YaHei ,Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    /*color: #fff;*/
    background-color: #f2f2f2 !important;
    height: 100%;
  }
  
  body {
    overflow: hidden;
  }
  
  body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, button, textarea, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
  }
  
  ol, ul, li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #3888be;
  }
  
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  img {
    border: none;
  }

  table {
    border-collapse: collapse;
  }
  .border-r{
    border-right: 1px solid #CCC;
  }
  /*Initialization end*/
  .height-per100{
    height:100%
  }
  .ver-mid {
    vertical-align: middle;
  }
  .ver-bottom{
    vertical-align: bottom;
  }
  .ver-top {
    vertical-align: top;
  }
  .ver-text-top {
    vertical-align: text-top;
  }
  .ver-text-bottom {
    vertical-align: text-bottom;
  }
  .ver-inherit {
    vertical-align: inherit;
  }
  
  .text-c{
    text-align: center;
  }
  .text-l{
    text-align: left;
  }
  .text-r{
    text-align: right;
  }
  .bold{
    font-weight: bold;
  }
  .font0{
    font-size: 0;
  }
  .font12{
    font-size: 12px;
  }
  .font13{
    font-size: 13px;
  }
  .font14{
    font-size: 14px;
  }
  .font15 {
      font-size: 15px;
  }
  .font16{
    font-size: 16px;
  }
  .font18{
    font-size: 18px;
  }
  .font20{
    font-size: 20px;
  }
  .font22{
    font-size: 22px;
  }
  .font24{
    font-size: 24px;
  }
  .font26{
    font-size: 26px;
  }
  .line-height-12{
    line-height: 12px;
  }
  .line-height-14{
    line-height: 14px;
  }
  .line-height-16{
    line-height: 16px;
  }
  .line-height-30{
    line-height: 30px;
  }
  .line-height-24{
    line-height: 24px;
  }
  .line-height-60{
    line-height: 60px;
  }
  .line-height-85{
    line-height: 85px;
  }
  .line-height-90 {
      line-height: 90px;
  }
  .margin-t0{
    margin-top: 0px;
  }
  .margin-t5{
    margin-top: 5px;
  }
  .margin-t10{
    margin-top: 10px;
  }
  .margin-t-15{
    margin-top: 15px;
  }
  .padding-tb-10{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .padding-tb-20 {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .padding-l-0{
    padding-left: 0;
  }
  .padding-l-10 {
      padding-left: 10px;
  }
  .padding-l-3 {
      padding-left: 3px;
  }
  .padding-20{
    padding: 20px;
  }
  .position-r{
    position: relative;
  }
  .write{
    background-color: #FFFFFF;
  }
  .black{
    background-color: #000000;
  }
  .red{
    background-color: red;
  }
  .red-color{
    color:red;
  }
  .black-color{
    color:#000000;
  }


  /********************右拉框***********************/
  .popUpBox-modal {
      top: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 998;
      width: 100%;
      display: none;
  }

  .popUpBox {
      top: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #fff;
      z-index: 999;
      overflow-x: inherit;
      box-shadow: 0 4px 23px 5px rgba(0, 0, 0, .2), 0 2px 6px rgba(0, 0, 0, .15);
      display: none;
  }

  .popUpBox .my-customer-right-head {
      border: none;
  }

  .popUpBox-content {
      position: absolute;
      z-index: 999;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0 10px 10px;
  }

  .popUpBox-content h4 {
      padding: 15px 0 10px 15px;
      margin: 0;
      border-bottom: 1px solid #ccc;
  }

  .popUpBox-content h4 .f-r {
      margin: -6px 5px 0 0;
      float: right;
  }

  .popUpBox-content-inner {
      height: calc(100% - 50px);
      overflow-y: auto;
  }

  /********************右拉框***********************/